<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="menu-container">
        <div class="file" id="file">File</div>
        <div class="home" id="home">Home</div>
    </div>
    
    <div class="menu-options-container">
        <div class="file-menu-options">
            <div class="new" >New</div>
            <div class="open">Open</div>
            <div class="save">Save</div>
        </div>
    </div>

    <div class="formula">
        Formula
        <input type="text" class="address" readonly>
        <input type="text" class="cell-formula">
    </div>
    
    <div class="content">
        <div class="top-left-cell"></div>
        <div class="top-row">
            <%for(let j=0 ; j<26 ; j++){%>
                <div class="top-row-cell" c-id=<%=j%>> <%= String.fromCharCode(65+j) %> </div>
                <%}%>
        </div>
        <div class="left-col">
            <% for(let i=0 ; i<100 ; i++) {%>
                        <div class="left-col-cell" c-id=<%=i%>> <%=i+1%></div>
                <%}%>
        </div>


        <div class="cells">
            <% for(let i=0 ; i<100 ; i++) {%>
                <div class="row">
                    <%for(let j=0 ; j<26 ; j++){%>
                        <div class="cell" contenteditable="true" r-id=<%=i%> c-id=<%=j%>></div>
                        <%}%>
                </div>
                <%}%>
        </div>

    </div>

    <div class="sheets">
        Sheets
    </div>
<script src="./script.js"></script>
</body>
</html>